p, a, header h2{
    font-size: 1.5rem
}
.bg-full{
    min-height: 100vh;
}
header{
    background: url(../img/bg/kevin_depree_landing_bg.jpg);
}
header h1{
    letter-spacing: 0.025em;
    text-transform: uppercase;
}
header h1, header h2{
    color: #FFFFFF;
}
header .email{
    display: block;
}