p, a, header h2{
    font-size: 1.5rem
}
.cap{
    text-transform: capitalize;
}
.bg-full{
    min-height: 100vh;
}
header{
    background-image: url(../img/bg/kevin_depree_landing_bg.jpg);
}
header h1{
    letter-spacing: 0.025em;
    text-transform: uppercase;
}
header h1, header h2{
    color: #FFFFFF;
}
header .email{
    display: block;
}
#newsletter{
    background-image: url(../img/bg/kevin_depree_newsletter_bg.jpg);
    min-height: 60vh;
}
#past_projects ul p{
    font-size: 1.25rem;
    line-height: 1.5;
}
#past_projects ul p span{
    font-size: 1.125rem;
}
@media (min-width:960px) {
    #past_projects p{
        flex: 1;
    }
    #past_projects ul{
        flex: 2;
    }
    #past_projects li{
        margin-top: 0;
    }
}