p, a, header h2, .uk-list li{
    font-size: 1.5rem
}
#past_projects ul p, #biography p, #biography_quote p, .latest-music-description, #my_sound p, #services .credits-list, #services .live-list, figcaption{
    line-height: 1.5;
}
.cap{
    text-transform: capitalize;
}
.bg-full{
    min-height: 100vh;
}
/* Nav */
.uk-offcanvas-bar{
    background-color: #FFFCF5;
}
.uk-offcanvas-bar .uk-nav li a{
    color: black;
    transition-property: text-decoration-color, color;
    transition-duration: 800ms;
    text-decoration-color: rgba(0, 0, 0, 0);
}
.uk-offcanvas-bar .uk-nav li a:hover{
    color: black;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 1);
}
.uk-nav li a{
    font-size: 2rem;
    margin-bottom: 25px;
    font-weight: 500;
}
a, .uk-light a{
    text-decoration-color: rgba(255, 245, 100, 0);
    transition-property: text-decoration-color, color;
    transition-duration: 800ms;
}
a:hover, .uk-light a:hover{
    text-decoration-color: rgb(255, 245, 100);
}
a.uk-icon{
    color: black;
}
a.uk-icon:hover{
    color: black;
    text-decoration: none;
}
/* Header */
header{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0) 100%), url(../img/bg/kevin_depree_landing_bg.jpg);
}
header h1{
    letter-spacing: 0.025em;
    text-transform: uppercase;
}
header h1, header h2{
    color: #FFFFFF;
}
header .email{
    display: block;
}
a.uk-navbar-toggle-icon{
    z-index: 9999;
    position: fixed;
    top: 30px;
    right: 30px;
    fill: white;
    background-color: rgba(0,0,0,0.2);
    padding: 15px;
}
a.uk-navbar-toggle-icon.nav-open{
    fill: black;
    background: none;
}
/* Past Projects */
#past_projects ul p{
    font-size: 1.25rem;
}
#past_projects ul p span{
    font-size: 1.125rem;
}
@media (min-width:960px) {
    #past_projects p{
        flex: 1;
    }
    #past_projects ul{
        flex: 2;
    }
    #past_projects li{
        margin-top: 0;
    }
}
/* Newsletter */
#newsletter{
    background-image: url(../img/bg/kevin_depree_newsletter_bg.jpg);
    min-height: 60vh;
}
input[type="email"] {
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid white;
    color: white;
    letter-spacing: normal;
}
input[type="submit"] {
    color: white;
    background: none;
    border: none;
    transition: all .4s;
    outline: 0;
}
input[type="submit"]:hover, input[type="submit"]:active{
    background: white;
    color: black;
    transition: all .4s;
    cursor: pointer;
}
@media (min-width:1200px) {
    input[type="email"], input[type="submit"], form label.uk-text-small{
        font-size: 1.5rem;
    }
}
/* Biography */
#biography_quote{
    background-image: url(../img/bg/kevin_depree_quote_bg.jpg);
}
/* Latest Music */
#latest_music{
    background-image: url(../img/bg/critical_moment_bg.jpg);
}
.uk-light a{
    color: yellow;
}
.uk-light a:hover{
    color: rgb(255, 245, 100);
}
/* Services */
#services a{
    color: blue;
}
#services a:hover{
    color: rgb(0, 0, 160);
    text-decoration-color: rgb(0, 0, 160);
}
.uk-divider-vertical{
    border-left: 1px solid black;
}
/* Footer */
footer{
    background-image: url(../img/bg/kevin_depree_footer_bg.jpg);
}
/* Footer - Social Media Icons */
.social_icons > div{
    position: relative;
    display: inline-block;
    margin-right: 25px;
}
#youtube{
    width: 45px;
    height: 32px;
}
#instagram{
    width: 32px;
    height: 32px;
}
#twitter{
    width: 39px;
    height: 32px;
}
#tiktok{
    width: 28px;
    height: 32px;
}
#spotify{
    width: 32px;
    height: 32px;
    margin-right: 0;
}
.social_icons > div img{
    position: absolute;
    left: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}
.social_icons > div:hover .img-hover{
    opacity: 1;
}
.social_icons > div:hover .img-start{
    opacity: 0;
}
.img-hover {
    opacity: 0;
}
/* mobile */
@media (max-width:639px) {
    a, form .uk-text-small{
        font-size: 1rem;
    }
    header.uk-background-cover{
        background-position: 70% 50%;
    }
    header h1{
        font-size: 1.5rem;
    }
    header h2{
        font-size: 1rem;
        line-height: 1.5;
    }
    a.uk-navbar-toggle-icon{
        top: 20px;
        right: 20px;
        padding: 5px;
    }
    ol.uk-nav.uk-flex.uk-flex-column.uk-flex-bottom.uk-margin-large-top.uk-margin-right{
        margin-right: 5px !important;
        margin-top: 75px !important;
    }
    header .email{
        font-size: 1rem;
    }
    section h2{
        font-size: 1.5rem;
    }
    section h3{
        font-size: 1.25rem;
        line-height: 1.5;
    }
    section p, section h4, .uk-list li{
        font-size: 1rem;
    }
    #past_projects li p{
        margin-top: 15px;
        font-size: 1rem;
    }
    #past_projects ul p span{
        font-size: 1rem;
    }
    #biography .uk-grid{
        padding-right: 25px;
    }
    #biography .uk-grid>div{
        padding: 0;
    }
    #biography img{
        padding-left: 0;
    }
    #latest_music .covers{
        padding: 0;
    }
    #latest_music .covers img{
        padding: 0;
    }
    .latest-music-description{
        padding: 25px;
    }
    #latest_music .music-label{
        padding: 0;
    }
    #latest_music .uk-list li{
        line-height: 1.5;
    }
    video.uk-padding-large{
        padding: 25px;
    }
    #my_sound #my_sound_description{
        padding: 25px;
    }
    #services iframe.spotify{
        width: 75%;
    }
    #past_projects .cap, #latest_music .uk-list, #services h3, #services .cap, #services .credits-list{
        padding-left: 25px;
        padding-right: 25px;
    }
    #services iframe.soundcloud{
        padding-left: 25px;
        padding-right: 25px;
    }
    #services .live-drums{
        margin: auto;
    }
    #services .live-drums .uk-list{
        padding-right: 25px;
    }
    #services .testimonial-box{
        padding-right: 25px;
    }
    #services .testimonial-box figure, #services .testimonial-box img{
        padding: 0;
    }
    footer.uk-background-cover{
        background-position: 80% 50%;
    }
    #copyright{
        font-size: 1rem;
    }
    .social_icons img {
        height: 20px;
        width: auto;
    }
    .social_icons div {
        height: 20px !important;
    }
}
/* 640px - 1200px */
@media (min-width:640px) and (max-width:1199px) {
    a.uk-navbar-toggle-icon{
        top: 15px;
        right: 30px;
    }
    #biography img{
        padding-right: 25px;
    }
}
/* up to 960px */
@media (max-width:959px) {
    #biography .uk-grid{
        padding-right: 25px;
    }
}
/* up to 1200px */
@media (max-width:1199px) {
    #newsletter{
        margin-top: 50px;
    }
    #past_projects .cap, #latest_music .uk-list, #services h3, #services .cap, #services .credits-list, #services .live-list{
        padding-left: 25px;
        padding-right: 25px;
    }
    #services .credits-list{
        text-align: left;
        align-items: flex-start;
    }
}
/* 640px + */
@media (min-width:640px) {
    .uk-offcanvas-bar{
        border-left: 1px solid black;
    }
}
/* 1200px + */
@media (min-width:1200px) {
    #biography > div > div{
        padding-bottom: 0;
    }
}